{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'cart' %}">Cart</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <form action="" method="post">
            {% csrf_token %}
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
                <div class="bg-light p-30 mb-5">
                    
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="email" placeholder="example@email.com" value="{{request.user.email}}" readonly required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No*</label>
                            <input class="form-control" name="phonenumber" value="{{form.phonenumber.value|default:''}}" type="text" placeholder="+123 456 789" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address*</label>
                            <input class="form-control" name="address" value="{{form.address.value|default:''}}" type="text" placeholder="123 Street">
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>Country*</label>
                            <select name="country" class="custom-select" required>
                                <option value="Nigeria" selected>Nigeria</option>
                                <!-- <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option> -->
                            </select>
                        </div>
                        
                        <div class="col-md-6 form-group">
                            <label>State*</label>
                            <input class="form-control" name="state" value="{{form.state.value|default:''}}" type="text" placeholder="Abia" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Postal Code</label>
                            <input class="form-control" name="postal_code" value="{{form.postal_code.value|default:''}}" type="text" placeholder="123">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="newaccount" name="save_address">
                                <label class="custom-control-label" for="newaccount">Save Address</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div> -->
                    </div>
                </div>
    
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom">
                        <h6 class="mb-3">Products</h6>
                        {% for item in cart %}
                        <div class="d-flex justify-content-between">
                            <p>{{item.name}}</p>
                            <p>₦ {{item.total_price}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="border-bottom pt-3 pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>₦ {{cart.get_total_price}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">free</h6>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>₦ {{cart.get_total_price}}</h5>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                    <div class="bg-light p-30">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="paystack" id="paypal" checked>
                                <label class="custom-control-label" for="paypal">Paystack</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="wallet" id="directcheck">
                                <label class="custom-control-label" for="directcheck">Wallet (Balance: ₦ {{request.user.wallet.amount}})</label>
                            </div>
                        </div>
                       <!-- <div class="form-group mb-4">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                            </div>
                        </div> -->
                        <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <!-- Checkout End -->

{% endblock %}